In [7]:
import pandas as pd
import re

In [8]:
df = pd.read_csv("Data.csv")

In [9]:
df.head()

                                                Data
0  Watch or listen live weekdays at 8:30am MT at ...
1  Watch or listen live weekdays at 8:30am MT at ...
2               Chubby And Hot, Always Stir The Pot!
3               Chubby And Hot, Always Stir The Pot!
4  Journalist, publisher of Rebel News — telling ...

In [10]:
df_no_duplicates = df.drop_duplicates()

In [11]:
df_no_duplicates.to_csv("Data_no_duplicates.csv", index=False)

In [12]:
print("Duplicate rows removed. New file saved as 'Data_no_duplicates.csv'")

Duplicate rows removed. New file saved as 'Data_no_duplicates.csv'

In [13]:
df=pd.read_csv("Data_no_duplicates.csv")

In [16]:
pattern = r'\bw[a-zA-Z]+\b'

In [17]:
count = df['Data'].str.contains(pattern, regex=True, na=False).sum()

In [18]:
print("Number of rows with a word starting with lowercase 'w' (excluding alphanumerics):", count)

Number of rows with a word starting with lowercase 'w' (excluding alphanumerics): 631